@font-face {
  font-family: 'Phosphate';
  src: url('~fonts/PhosphateFixed-Solid.woff2') format('woff2'),
      url('~fonts/PhosphateFixed-Solid.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('~fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('~fonts/Nunito-ExtraLight.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

